*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  /* background-color: #94618e; */
}

.main {
  margin-top: 20%;
  margin-left: 20%;
  /* background-color: ; */
}


.navbar {
  display: flexbox;
  flex-direction: column;
  font-size: 25px;
  color: white;
  background-color: #231651;
  min-height: 10vh;
  padding: 1.5%;
}

.navbar h1 {
  float: left;
  /* padding: 1.5%; */
  margin-left: 2%;
  font-weight: 500;
}

.schedule-btn {
  /* margin-top: 1.5%; */
  /* margin-bottom: 1.5%; */
  padding: 8px 5px 8px 5px;
  float: right;
  color: white;
  background-color: #4dccbd;
  border-radius: 6px;
  font-size: 1.2rem;
}

.interview-card {
  padding: 10px 16px;
  margin: 20px 20px;
  margin-left: 3%;
  width : 20rem;
  text-align: justify;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 4px 1px #cccccc;
  float: left;
}

.interview-card:hover,
.schedule-content:hover {
  box-shadow: 0 2px 7px 1px rgb(63, 63, 63);
}

.interview-card h3 {
  font-size: 1.3rem;
  color: #2374ab;
  margin-bottom: 10%;
  text-align: center;
}

.interview-card p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.interview-card-btn {
  align-items: center;
}

.edit-btn,
.submit-btn {
  color: white;
  background-color: #4dccbd;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
}

.del-btn,
.cancel-btn {
  color: white;
  background-color: #ff8484;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
}

.reschedule-modal,
.schedule-form {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reschedule-content-modal,
.schedule-content {
  width: 500px;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}
.reschedule-header-modal , .reschedule-footer-modal,
.schedule-header {
  padding: 10px;
}

.reschedule-title-modal,
.schedule-title {
  text-align: center;
  /* font-weight: 549; */
  color: #2374ab;
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 2%;
}

.reschedule-body-modal, 
.schedule-body {
  padding: 20px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}

.reschedule-body-modal label {
  text-align: left;
  margin: 2% 0 2%;
  padding-bottom: 2%;
  font-size: 1.3rem;
  color: black;
}

.schedule-body label {
  text-align: left;
  margin: 2% 0 2%;
  padding-bottom: 2%;
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
}

.reschedule-body-modal input,
.schedule-body input {
  border: 2px solid #dddddd;
  display: block;
  width: 100%;
  margin: 3%;
  padding: 10px 10px;
  box-sizing: border-box;
}

.reschedule-body-modal select,
.schedule-body select
{
  width: 50%;
  margin: 3%;
  color: black;
}

.schedule-footer {
  padding-top: 4%;
  align-items: center;
}

.footer {
  color: #e5e5e5;
  text-align: center;
  background-color:#231651;
  border-top: .05rem solid #e5e5e5;
  bottom: 0;
  display: flex;
  position: relative;
  width: 100%;
}

.footer p{
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding: 0.8rem 0;
  background-color: rgba(0, 0, 0, 0.2);
}